/* commons */
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    
}
section{
    width: 100%;
}


h1{
    font-size: 24px;
    font-weight: 400;
}
h2{
    font-size: 80px;
    line-height: 90px;
    font-weight: 700;
}
img{
    width: 100%;
    display: block;
}

.section_pad{
    padding: 80px 0;
}



/* end commons */

/* HEADER */
.banner_top{
    background-color: #103368;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.tel_milano::after{
    content: "";
    display: inline-block;
    background-color: #5474A5;
    height: 14px;
    width: 1px;
    margin: 0 20px;
}

.nav_menu a{
    color: #1D1D1B;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    
}
.nav_menu a:hover{
    color: #1D1D1B;
    text-decoration-line: underline;
    
    
}

.btn_general{
    background-color: #103368;
    color: white;
    text-transform: uppercase;
    padding: 5px 26px;
    font-size: 16px;
    font-weight: 300;
}
.btn_general:hover{
    transform: scale(1.1);
    transition: ease 0.2s;
    background-color: #5474A5;
}


/* END HEADER */

/* MAIN */

/* SEZIONE AZIENDA */
.industry{
    width: 100%;
    color: white;
}
.jumbotron{
    width: 100%;
    background-image: url('../assets/shutterstock_81251641.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 735px;
}
.jumbo-contents{
    width: 100%;
    height: 100%;
}

.contents-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
    
}

.contents{
    width: 50%;
    position: absolute;
    top: 210px;
    left: 0; 
}
.contents h1{
    font-size: 24px;
    font-weight: 400;
}
.contents h2{
    font-size: 80px;
    font-weight: 700;
    line-height: 90px;
}
.kdb{
    font-size: 24px;
    font-weight: 400;
}
.icon{
    margin-top: 110px;
}
.icon i{
    color: white;
    padding: 16px;
    line-height: 16px;
    border-radius: 50%;
    border: 1px solid white;
    font-size: 20px;
}
.bullets{
    width: 10%;
    position: absolute;
    top: 318px;
    right: -119px;
    font-size: 9px;
    
}
.active{
    color: red;
    border: 1px solid white;
    border-radius: 50%;
}

/* SECTION CHI SIAMO */



/* SECTION LAVORAZIONI */
.show{
    animation-name: change;
    animation-duration: 1s;
}
.show:hover{
    display: none;
    
}
.hide{ 
    display: none;
    animation-name: change;
    animation-duration: 1s;
}


.col-wrap{
    width: 100%;
}
.col-wrap img{
    object-fit: cover;
}
.images{
    width: 100%;
    position: relative;
    
}

.images:hover .hide{
    display: block !important;
    
}
.images:hover .show{
    display: none;
    
}

@keyframes change
{
    0%{opacity:0;}
    100%{opacity:.7;}
}

/* SEZIONE TECNICA */
.technics{
    background-color: #EEEFF0;
}

/* SEZIONE PROGETTI E REALIZZAZIONI */
.projects{
    padding-top:80px;
}

/* END MAIN */

/* FOOTER */
.footer-content{
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: #7F7F7F;
    padding: 14px 0;
}



